In [3]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("python sql basic example") \
    .config("spark.config.option","some-value") \
    .getOrCreate()
sc =spark.sparkContext

In [17]:
stringJSONRDD =sc.parallelize(('''{'id':'123','name':'Katie','age':19,'eyeColor':'brown'}''','''{id','234','name':'Michael','age':22,'eyeColor':'green'}'''))

In [18]:
swimmersJSON = spark.read.json(stringJSONRDD)

In [19]:
swimmersJSON.createOrReplaceTempView("swimmersJSON")

In [10]:
swimmersJSON.show()

+--------------------+----+--------+----+-----+
|     _corrupt_record| age|eyeColor|  id| name|
+--------------------+----+--------+----+-----+
|                null|  19|   brown| 123|Katie|
|{id','234','name'...|null|    null|null| null|
+--------------------+----+--------+----+-----+

In [11]:
spark.sql("select * from swimmersJSON").collect()

[Row(_corrupt_record=None, age=19, eyeColor='brown', id='123', name='Katie'),
 Row(_corrupt_record="{id','234','name':'Michael','age':22,'eyeColor':'green'}", age=None, eyeColor=None, id=None, name=None)]

In [12]:
swimmersJSON.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- age: long (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [20]:
from pyspark.sql.types import *
stringCSVRDD = sc.parallelize([(123,'Katie',19,'brown'),(234,'Michael',22,'green'),(345,'Simone',23,'blue')])
schema = StructType([StructField('id',LongType(),True),StructField('name',StringType(),True),StructField("age", LongType(), True),StructField("eyeColor", StringType(), True)])
'''
StructField类被分解为： 
• name : 该字段的名字 
• dataType : 该字段的数据类型 
• nullable : 指定此字段的值是否为空
'''
swimmers = spark.createDataFrame(stringCSVRDD,schema)
swimmers.createOrReplaceTempView('swimmers')
swimmers.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)
 |-- eyeColor: string (nullable = true)

In [21]:
swimmers.count()

3

In [22]:
swimmers.select('id','age').filter('age=22').show()

+---+---+
| id|age|
+---+---+
|234| 22|
+---+---+

In [23]:
swimmers.select(swimmers.id,swimmers.age).filter(swimmers.age==22).show()

+---+---+
| id|age|
+---+---+
|234| 22|
+---+---+

In [25]:
swimmers.select("name","eyeColor").filter("eyeColor like 'b%'").show()

+------+--------+
|  name|eyeColor|
+------+--------+
| Katie|   brown|
|Simone|    blue|
+------+--------+

In [26]:
swimmers.createOrReplaceTempView('swimmers')#建立了视图，可以进行查询
spark.sql("select count(1) from swimmers").show()#查询行数

+--------+
|count(1)|
+--------+
|       3|
+--------+

In [27]:
spark.sql("select id,age from swimmers where age=22").show()

+---+---+
| id|age|
+---+---+
|234| 22|
+---+---+

In [28]:
spark.sql("select name,eyeColor from swimmers where eyeColor like 'b%'").show()

+------+--------+
|  name|eyeColor|
+------+--------+
| Katie|   brown|
|Simone|    blue|
+------+--------+

In [ ]:
# Set File Paths
flightPerfFilePath =
"/databricks-datasets/flights/departuredelays.csv"
airportsFilePath =
"/databricks-datasets/flights/airport-codes-na.txt"
# Obtain Airports dataset
airports = spark.read.csv(airportsFilePath, header='true',
inferSchema='true', sep='\t')
airports.createOrReplaceTempView("airports")
# Obtain Departure Delays dataset
flightPerf = spark.read.csv(flightPerfFilePath, header='true')
flightPerf.createOrReplaceTempView("FlightPerformance")
# Cache the Departure Delays dataset
flightPerf.cache()
# Query Sum of Flight Delays by City and Origin Code
# (for Washington State)
spark.sql("""
select a.City,
f.origin,
sum(f.delay) as Delays
from FlightPerformance f
join airports a
on a.IATA = f.origin
where a.State = 'WA'
group by a.City, f.origin
order by sum(f.delay) desc"""
).show()


+-------+------+--------+                                                       
|   City|origin|  Delays|
+-------+------+--------+
|Seattle|   SEA|159086.0|
|Spokane|   GEG| 12404.0|
|  Pasco|   PSC|   949.0|
+-------+------+--------+

In [29]:
df = spark.createDataFrame([(1,144.5,5.9,33,'M'),(2,167.2,5.4,45,'M'),(3,124.1,5.2,23,'F'),(4,144.5,5.9,33,'M'),(5,133.2,5.7,54,'F'),(3,124.1,5.2,23,'F'),(5,129.2,5.3,42,'M'),],['id','weight','height','age','gender'])

In [30]:
print('count of rows: {0}'.format(df.count()))

count of rows: 7

In [31]:
print('count of distinct rows: {0}'.format(df.distinct().count()))#去掉重复值的情况

count of distinct rows: 6

In [32]:
#用 .dropDuplicates(…)去掉重复项
#ID列去除了完全重复的一行
df =df.dropDuplicates()
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
|  1| 144.5|   5.9| 33|     M|
|  4| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
+---+------+------+---+------+

In [34]:
print ('count of ids: {0}'.format(df.count()))
print('count of distinct ids: {0}'.format(df.select([c for c in df.columns if c!='id']).distinct().count()))

count of ids: 6
count of distinct ids: 5

In [35]:
#我们可以使用ID列以外的列再次去重。
df =df.dropDuplicates(subset = [c for c in df.columns if c!='id'])
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [36]:
'''
现在我们知道没有完整的行重复，或任何相同的行只有ID不同，我们来检查是否有重复的ID。 
要在一步中计算ID的总数和不同数量，我们可以使用.agg（…）方法
'''
import pyspark.sql.functions as fn
df.agg(fn.count('id').alias('count'),fn.countDistinct('id').alias('distinct')).show()

+-----+--------+
|count|distinct|
+-----+--------+
|    5|       4|
+-----+--------+

In [37]:
#使用 fn.monotonically_increasing_id() 方法重新分配ID
df.withColumn('new_id',fn.monotonically_increasing_id()).show()

+---+------+------+---+------+-------------+
| id|weight|height|age|gender|       new_id|
+---+------+------+---+------+-------------+
|  5| 133.2|   5.7| 54|     F|  25769803776|
|  1| 144.5|   5.9| 33|     M| 171798691840|
|  2| 167.2|   5.4| 45|     M| 592705486848|
|  3| 124.1|   5.2| 23|     F|1236950581248|
|  5| 129.2|   5.3| 42|     M|1365799600128|
+---+------+------+---+------+-------------+

In [ ]:
'''
缺失值
如果你的数据是离散的布尔值，可以通过添加第三个类别（缺失）将其转变为分类变量；
如果你处理的是连续数值，则可以用平均值，中位数或其他预定义值（例如，取决于数
据的分布形状的第一或第三四分位数）替代缺失值。
'''

In [44]:
df_miss = spark.createDataFrame([(1,143.5,5.6,28,'M',100000), (2,167.2,5.4,45,'M',None), (3,None,5.2,None,None,None), (4,144.5,5.9,33,'M',None), (5,133.2,5.7,54,'F',None), (6,124.1,5.2,None,'F',None)],['id','weight','height','age','gender','income'])
df_miss.show()

+---+------+------+----+------+------+
| id|weight|height| age|gender|income|
+---+------+------+----+------+------+
|  1| 143.5|   5.6|  28|     M|100000|
|  2| 167.2|   5.4|  45|     M|  null|
|  3|  null|   5.2|null|  null|  null|
|  4| 144.5|   5.9|  33|     M|  null|
|  5| 133.2|   5.7|  54|     F|  null|
|  6| 124.1|   5.2|null|     F|  null|
+---+------+------+----+------+------+

In [39]:
df_miss_no_income=df_miss.select([c for c in df_miss.columns if c!='income'])

In [51]:
df_miss_no_income.dropna(thresh=3).show()#If specified, drop rows that have less than `thresh` non-null values.
#可以用.dropna(…)方法删除缺失值，用.fillna(…) 方法替换缺失值。

+---+------+------+----+------+
| id|weight|height| age|gender|
+---+------+------+----+------+
|  1| 143.5|   5.6|  28|     M|
|  2| 167.2|   5.4|  45|     M|
|  4| 144.5|   5.9|  33|     M|
|  5| 133.2|   5.7|  54|     F|
|  6| 124.1|   5.2|null|     F|
+---+------+------+----+------+

In [49]:
df_miss_no_income.dropna?

In [54]:
means = df_miss_no_income.agg(*[fn.mean(c).alias(c) for c in df_miss_no_income.columns if c != 'gender']).toPandas().to_dict('records')[0]
means

{'id': 3.5, 'weight': 142.5, 'height': 5.5, 'age': 40.0}

In [42]:
means['gender']='missing'

In [43]:
df_miss_no_income.fillna(means).show()

+---+------+------+---+-------+
| id|weight|height|age| gender|
+---+------+------+---+-------+
|  1| 143.5|   5.6| 28|      M|
|  2| 167.2|   5.4| 45|      M|
|  3| 142.5|   5.2| 40|missing|
|  4| 144.5|   5.9| 33|      M|
|  5| 133.2|   5.7| 54|      F|
|  6| 124.1|   5.2| 40|      F|
+---+------+------+---+-------+

In [56]:
'''
异常值
异常值是那些明显偏离样本其余部分分布的观测值。
一般定义为，如果所有的值大致在Q1-1.5IQR和Q3 + 1.5IQR范围内，那么可以认为没有异常值，
其中IQR是四分位间距; IQR被定义为第三四分位数Q3与第一四分位数Q1的差距。
备注：
第一四分位数 (Q1)，又称“较小四分位数”，等于该样本中所有数值由小到大排列后第25%的数字。
第二四分位数 (Q2)，又称“中位数”，等于该样本中所有数值由小到大排列后第50%的数字。
第三四分位数 (Q3)，又称“较大四分位数”，等于该样本中所有数值由小到大排列后第75%的数字。
'''

df_outliers = spark.createDataFrame([(1, 143.5, 5.3, 28),(2, 154.2, 5.5, 45),(3, 342.3, 5.1, 99),(4, 144.5, 5.5, 33),(5, 133.2, 5.4, 54),(6, 124.1, 5.1, 21),(7, 129.2, 5.3, 42),], ['id', 'weight', 'height', 'age'])
df_outliers.show()

+---+------+------+---+
| id|weight|height|age|
+---+------+------+---+
|  1| 143.5|   5.3| 28|
|  2| 154.2|   5.5| 45|
|  3| 342.3|   5.1| 99|
|  4| 144.5|   5.5| 33|
|  5| 133.2|   5.4| 54|
|  6| 124.1|   5.1| 21|
|  7| 129.2|   5.3| 42|
+---+------+------+---+

In [58]:
'''
用 .approxQuantile(…) 方法计算四分位数，指定的第一个参数是列的名称，第二个参数可以是
介于0或1之间的数字（其中0.5意味着计算中位数）或列表（在我们的例子中），第三个参数指定
可接受的度量的误差（如果设置为0，它将计算度量的精确值，但这样做可能会非常耗资源）。'''

cols = ['weight','height','age']
bounds = {}
for col in cols:
    quantities = df_outliers.approxQuantile(col,[0.25,0.75],0.05)
    IQR =quantities[1]-quantities[0]
    bounds[col] = [quantities[0]-1.5*IQR,quantities[1]+1.5*IQR]
bounds

{'weight': [91.69999999999999, 191.7],
 'height': [4.499999999999999, 6.1000000000000005],
 'age': [-11.0, 93.0]}

In [59]:
outliers = df_outliers.select(*['id'] + [
(
(df_outliers[c] < bounds[c][0]) |
(df_outliers[c] > bounds[c][1])
).alias(c + '_o') for c in cols
])
outliers.show()

+---+--------+--------+-----+
| id|weight_o|height_o|age_o|
+---+--------+--------+-----+
|  1|   false|   false|false|
|  2|   false|   false|false|
|  3|    true|   false| true|
|  4|   false|   false|false|
|  5|   false|   false|false|
|  6|   false|   false|false|
|  7|   false|   false|false|
+---+--------+--------+-----+

In [62]:
out_liers_1 =df_outliers.select(*['id']+[((df_outliers[c]>bounds[c][0]) | (df_outliers[c]<bounds[c][1])).alias(c+"_o") for c in cols])
out_liers_1.show()
#注意条件多个的时候尽量加上括号

+---+--------+--------+-----+
| id|weight_o|height_o|age_o|
+---+--------+--------+-----+
|  1|    true|    true| true|
|  2|    true|    true| true|
|  3|    true|    true| true|
|  4|    true|    true| true|
|  5|    true|    true| true|
|  6|    true|    true| true|
|  7|    true|    true| true|
+---+--------+--------+-----+

In [63]:
df_outliers = df_outliers.join(outliers, on='id')

In [64]:
df_outliers.show()

+---+------+------+---+--------+--------+-----+
| id|weight|height|age|weight_o|height_o|age_o|
+---+------+------+---+--------+--------+-----+
|  7| 129.2|   5.3| 42|   false|   false|false|
|  6| 124.1|   5.1| 21|   false|   false|false|
|  5| 133.2|   5.4| 54|   false|   false|false|
|  1| 143.5|   5.3| 28|   false|   false|false|
|  3| 342.3|   5.1| 99|    true|   false| true|
|  2| 154.2|   5.5| 45|   false|   false|false|
|  4| 144.5|   5.5| 33|   false|   false|false|
+---+------+------+---+--------+--------+-----+

In [69]:
df_outliers.filter('weight_o').select("id","weight").show()

+---+------+
| id|weight|
+---+------+
|  3| 342.3|
+---+------+

In [70]:
df_outliers.filter('age_o').select("id","age").show()

+---+---+
| id|age|
+---+---+
|  3| 99|
+---+---+

In [84]:
sc = spark.sparkContext
fraud = sc.textFile('peoplename.csv')
header = fraud.first()
fraud.filter(lambda row: row != header).map(lambda row: [int(elem) for elem in row.split(',')])

PythonRDD[427] at RDD at PythonRDD.scala:48

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=python sql basic example, master=local[*]) created by getOrCreate at <ipython-input-3-262423d777b4>:5