In [2]:
import findspark
findspark.init()
from pyspark import SparkContext
from pyspark.sql import SQLContext
sc = SparkContext()

In [3]:
sqlContext = SQLContext(sc)

In [4]:
from pyspark.sql import Row
l = [('Ankit',25),('Jalfaizy',22),('saurabh',20),('Bala',26)]
rdd = sc.parallelize(l)
people = rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
schemaPeople = sqlContext.createDataFrame(people)

In [5]:
people.collect()

[Row(age=25, name='Ankit'),
 Row(age=22, name='Jalfaizy'),
 Row(age=20, name='saurabh'),
 Row(age=26, name='Bala')]

In [6]:
schemaPeople.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
type(schemaPeople)

pyspark.sql.dataframe.DataFrame

In [9]:
schemaPeople.show(2,,truncate= True)

+---+--------+
|age|    name|
+---+--------+
| 25|   Ankit|
| 22|Jalfaizy|
+---+--------+
only showing top 2 rows

In [12]:
len(schemaPeople.columns),schemaPeople.columns

(2, ['age', 'name'])

In [14]:
schemaPeople.describe('age').show()

+-------+------------------+
|summary|               age|
+-------+------------------+
|  count|                 4|
|   mean|             23.25|
| stddev|2.7537852736430515|
|    min|                20|
|    max|                26|
+-------+------------------+