In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("example") \
    .config("spark.config.option","some-value") \
    .getOrCreate()
sc =spark.sparkContext

In [3]:
sentenceDataFrame = spark.createDataFrame((
      (1, "asf"),
      (2, "2143"),
      (3, "rfds")
    )).toDF("label", "sentence")
sentenceDataFrame.show()

sentenceDataFrame1 = spark.createDataFrame((
      (1, "asf"),
      (2, "2143"),
      (4, "f8934y")
    )).toDF("label", "sentence")
sentenceDataFrame1.show()

+-----+--------+
|label|sentence|
+-----+--------+
|    1|     asf|
|    2|    2143|
|    3|    rfds|
+-----+--------+

+-----+--------+
|label|sentence|
+-----+--------+
|    1|     asf|
|    2|    2143|
|    4|  f8934y|
+-----+--------+

In [5]:
#差集    subtract
newDF = sentenceDataFrame.select("sentence").subtract(sentenceDataFrame1.select("sentence"))
newDF.show()

+--------+
|sentence|
+--------+
|    rfds|
+--------+

In [7]:
#交集   intersect
newDF_intersect = sentenceDataFrame1.select("sentence").intersect(sentenceDataFrame.select("sentence"))
newDF_intersect.show()

+--------+
|sentence|
+--------+
|     asf|
|    2143|
+--------+

In [8]:
#并集  union
newDF_union = sentenceDataFrame.select("sentence").union(sentenceDataFrame1.select("sentence"))
newDF_union.show()

+--------+
|sentence|
+--------+
|     asf|
|    2143|
|    rfds|
|     asf|
|    2143|
|  f8934y|
+--------+

In [10]:
#并集 +去重
newDF_union = sentenceDataFrame.select("sentence").union(sentenceDataFrame1.select("sentence")).distinct()
newDF_union.show()

+--------+
|sentence|
+--------+
|    rfds|
|     asf|
|    2143|
|  f8934y|
+--------+

In [17]:
from pyspark.sql.functions import lit
df = spark.createDataFrame(
    [(1, "a", 23.0), (3, "B", -23.0)], ("x1", "x2", "x3"))
df.show()

+---+---+-----+
| x1| x2|   x3|
+---+---+-----+
|  1|  a| 23.0|
|  3|  B|-23.0|
+---+---+-----+

In [18]:
from pyspark.sql.functions import monotonically_increasing_id
df = df.withColumn("id", monotonically_increasing_id())
df.show()

+---+---+-----+-----------+
| x1| x2|   x3|         id|
+---+---+-----+-----------+
|  1|  a| 23.0| 8589934592|
|  3|  B|-23.0|25769803776|
+---+---+-----+-----------+

In [32]:
from pyspark.sql import Row
l = ['jerry', 'tom']
row = Row("pid", "name")
#new_df = sc.parallelize([row(i, l[i]) for i in range(0,len(l))]).toDF()
#new_df.show()

In [27]:
df.createOrReplaceTempView("TBL1")

In [33]:
#spark.sql("SELECT label,sentence FROM TBL1 ")